@import url("https://fonts.googleapis.com/css?family=Anton");

.body {
  font-family: "Anton", sans-serif;
}

/* .firstSec {
  text-align: center;
  margin-top: 12%;
}

.firstSecA {
  font-size: 60px;
}

.firstSecB {
  font-size: 100px;
} */
