/* @import url("https://fonts.googleapis.com/css?family=Anton");


.body {
  font-family: "Anton", sans-serif;
} */

/* .firstSec {
  text-align: center;
  margin-top: 12%;
  color: #030d61;
}

.firstSecA {
  font-size: 60px;
}

.firstSecB {
  font-size: 100px;
  margin-top: 5%;
} */
@import url("https://fonts.googleapis.com/css?family=Quicksand");
.topPhoto {
  width: 100%;
  justify-content: center;
  object-fit: cover;
}
.topboys {
  text-align: center;
  margin-top: 1%;
}
.cande {
  font-size: 40px;
  text-align: center;
}

.topboyA {
  font-size: 25px;
}
.topboyB {
  font-size: 28px;
  text-align: center;
  color: #0d47a1;
  font-family: Quicksand;
}
#students {
  font-family: Quicksand;
  color: #0d47a1;
}
#bottom {
  font-size: 13px;
}
/* .topgirl {
  margin-top: 3.5%;
} */
/* .hrbruh {
  border: 0;
  height: 1px;
  background: rgb(100, 97, 97);
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 50%;
  margin: auto;
  margin-top: 2%;
} */
.bigStats {
  text-align: left;
}
.stats {
  margin-top: 4%;
  font-family: Quicksand;
}
#pic {
  border-radius: 10px;
}
#pic2 {
  border-radius: 10px;
}
ul {
  list-style-type: disc;
  font-size: 15px;
}
.card-body {
  margin-top: 0%;
  text-align: center;
}
.btmPhoto {
  margin-top: 4%;
  height: 450px;
  padding-bottom: 20px;
}
.specBtmCont {
  margin-top: 4%;
}

.pollRes {
  margin-top: 10%;
  font-size: 18px;
}
.stat {
  font-size: 24px;
  color: #0d47a1;
  font-weight: bold;
}
.secondarySpacing {
  margin-top: 20%;
}
.yeetbruh {
  text-align: right;
}
