.CommunityBody {
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(#030d61, #477b80, #7cb79a, #c4c4c4);
}

@media only screen and (min-width: 501px) {
  .boi {
    padding: 10px;
  }
  .mainContent {
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-template:
      "feed  maps maps"
      "feed  maps maps"
      "feed  maps maps "
      "feed incent incent";
    grid-template-rows: 36em;
  }
  .feed {
    grid-area: feed;
    padding-left: 5%;
    padding-top: 5%;
    margin: auto;
  }
  .maps {
    grid-area: maps;
    padding: 1em;
            
    /* background-color: green; */
  }
  .leaflet-container{
    height: 510px !important;
    width: 1000px !important;
  }
  .incent {
    background-color: white;
    padding: 1em;
    grid-area: incent;
    transition: 0.3s;
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
  }
  .test {
    color: red;
  }
}
.trophy {
  height: 2%;
  width: 2%;
}
.schenk {
  height: 5%;
  width: 5%;
}
@media only screen and (max-width: 500px) {
  .boi {
    padding: 10px;
  }
  .mainContent {
    padding: 1em;
    width: 100%;
    height: 100vh;
  }

  .maps {
    /* margin-top: 5px;
    padding: 1em; */
    height: 70vh;
    width:auto;
    background-color: green;
  }
  .incent {
    background-color: white;
    padding: 1em;
    font-family: "Quicksand", sans-serif;
  }
  .test {
    color: red;
  }
}
