html{
  min-height:100%;
  position:relative;
}

#box {
  position: fixed;
  height: 100%;
  width: 100%;
  padding-left: 43%;
  padding-top: 20%;
  background-image: linear-gradient(#43ff3d,#BFFFC1, #E8FFE8);
}
#App{
  max-height: 100%;
  position:absolute;
  overflow:hidden;
  z-index:-1;
}

