.HomeBody {
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
}

.inputStyle {
  background: linear-gradient(180deg, #030D61 0%, rgba(71, 123, 128, 0.727078) 41.67%, rgba(124, 183, 154, 0.73) 69.79%, #F3F3F3 100%);
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 33%;
  color: #686963;
  font-size: 1em;
  padding-left: 5px;
  margin-top: 5px;
}

.inputStyle:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
